*,
*::before,
*::after {
  box-sizing: border-box;
}

/**********************************/
/* 0. Variáveis
/* 1. Estilos Gerais
/* 2. Placa
/* 3. Botão
/* 4. Descrição
/* 5. Formulario
/**********************************/

/**********************************/
/* 0. Variáveis
/**********************************/

:root {
  --plaque-shadow: 0.4rem 0.4rem 1.8rem #7e7e7e, -0.4rem -0.4rem 2rem #f8f8f8;
  --plaque-background: linear-gradient(to bottom, #adafb3 50%, #c7c7c9 80%);

  --btn-shadow: inset 0.6rem 0.6rem 0.9rem #484541,
    inset -0.4rem -0.4rem 1.4rem #5c5c58;
  --btn-filter: drop-shadow(0.1rem 0.2rem 0.5rem #424242);

  --clr-description: #edeff2;
  --clr-btn: #868681;
  --clr-youtube-red: #c00;
  --clr-youtube-white: #fff;

  --ff: "Gothic A1", sans-serif;
}

/**********************************/
/* 1. Estilos gerais
/**********************************/

html {
  font-size: 62.5%;
}

body {
  background-image: url("http://cdn.backgroundhost.com/backgrounds/subtlepatterns/retina_wood.png");
  font-family: var(--ff);
}

/**********************************/
/* 2. Placa
/**********************************/

.plaque {
  position: relative;
  background: var(--plaque-background);
  width: 43rem;
  height: 55rem;
  margin: 0 auto;
  margin-top: 5rem;
  box-shadow: var(--plaque-shadow);
  display: flex;
  justify-content: center;
}

/**********************************/
/* 3. Botão
/**********************************/

.button {
  background: var(--clr-btn);
  width: 19rem;
  height: 13rem;
  box-shadow: var(--btn-shadow);
  border-radius: 2.5rem;
  opacity: 0.7;
  position: relative;
  top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__play {
  position: relative;
  width: 0;
  height: 0;
  border-top: 3rem solid transparent;
  border-bottom: 3rem solid transparent;
  border-left: 5rem solid #adafb3;
  filter: var(--btn-filter);
}

.button--broken {
  overflow: hidden;
  width: 9.5rem;
  border-radius: 0;
}

.button--left-broken {
  border-top-left-radius: 2.5rem;
  border-bottom-left-radius: 2.5rem;
}

.button--right-broken {
  border-top-right-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  top: 12rem;
}

.button__play--left-broken {
  left: 5rem;
}

.button__play--right-broken {
  left: -5rem;
}

.button--hide {
  display: none;
}

/**********************************/
/* 4. Descrição
/**********************************/

.description {
  color: var(--clr-description);
  text-align: center;
  opacity: 0.9;
  position: absolute;
  top: 35rem;
}

.description__intro {
  font-size: 1.7rem;
}

.description__channel-name {
  font-size: 1.8rem;
  font-weight: 900;
  margin-top: 0.7rem;
}

.description__achievement {
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 1rem;
}

.logo {
  margin-top: 3rem;
  font-size: 4rem;
}

.logo__text {
  letter-spacing: -0.05rem;
  font-weight: 600;
}
/**********************************/
/* 5. Formulario
/**********************************/
